:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.header .footer {
  display: flex;
  justify-content: space-between; /* Push items to the left and right */
  font-weight: bold; /* Make text bold */
  padding: 20px;
}

.navBarItem {
  text-align: left; /* Align the left item text */
  padding: 15px;
}

.cartTop {
  position: absolute;
  right: 20px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
h1 {
  text-align: center;
  margin: 20px;
}
/* styling for divs */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Optional, adds space between divs */
}
.small {
  width: 30%;
  height: 380px;
  margin: 20px; /* Space between rows */
  background-color: lightgray;
  padding: 10px; /* Optional, space inside each div */
  box-sizing: border-box; /* Include padding in width calculation */
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}
.xSmall {
  width: 15%;
  height: 200px;
  margin: 20px; /* Space between rows */
  background-color: lightblue;
  padding: 10px; /* Optional, space inside each div */
  border-radius: 15px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}
.large {
  width: 60%;
  height: 380px;
  margin: 20px; /* Space between rows */
  background-color: lightgray;
  padding: 10px; /* Optional, space inside each div */
  box-sizing: border-box; /* Include padding in width calculation */
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}
.xLarge {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 97%;
  height: 380px;
  margin: 20px; /* Space between rows */
  background-color: lightgrey;
  box-sizing: border-box; /* Include padding in width calculation */
  border-radius: 15px;
  color: black;
}
.long {
  width: 75%;
  height: 200px;
  margin: 20px; /* Space between rows */
  background-color: lightgray;
  padding: 10px; /* Optional, space inside each div */
  box-sizing: border-box; /* Include padding in width calculation */
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}
.productDisplay {
  width: 30%;
  height: 480px;
  margin: 40px; /* Space between rows */
  background-color: lightgray;
  padding: 20px; /* Optional, space inside each div */
  box-sizing: border-box; /* Include padding in width calculation */
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}
.addToCartBtn {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}

.addToCartBtn:hover {
  background-color: #218838;
}

.plusAndMinusBtn {
  background-color: lightblue;
  color: white;
  padding: 10px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 15px;
}
.plusAndMinusBtn:hover {
  background-color: darkcyan;
}
.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: lightsalmon;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navBar {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
